/* LOGIN */

.page-login {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #fff url(branding/graph-calculator.png) no-repeat bottom right;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

img.logo-login{width:100%;height:auto;margin-bottom:50px !important;}
.page-login h1{font-size:24px;}
.page-login .copyright{padding:0px;}


img.logo-main{width:170px;height:auto;margin-bottom:0px !important;}

.page-dark.layout-full {
    position: relative;
    z-index: 0;
    color: #fff;
}

.page-login-v2 {
    height: 100%;
    overflow-x: hidden;
}

.container-welcome {
    color: #FFFFFF;
    padding-top: 10vh;
}

.page-dark.layout-full::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center top;
    -webkit-background-size: cover;
    background-size: cover;
}

.page-login-v2:before {
    background-image: url(branding/neon-pro_app_bg.jpg);
    background-position: bottom right !important;
}

.page-welcome .footer-mobile {
    background: none;
    padding: 10px 10px;
}

.page-welcome footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;
}

.footer-mobile {
    z-index: 1501 !important;
    padding: 15px 0px 20px;
    box-shadow: 0 -3px 9px 2px rgba(0,0,0,.1);
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #FFFFFF;
}

.container-fluid {
    width: 100%;
    padding-right: 1.0715rem;
    padding-left: 1.0715rem;
    margin-right: auto;
    margin-left: auto;
}

.container-slick {
    padding: 10px;
    margin: 0 auto;
}

.slickdot.active {
    background-color: #3e8ef7;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,.1);
}

.slickdot {
    height: 10px;
    width: 10px;
    background: lightgray;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 0px 0px 4px grey inset;
}

.prev-next a.start {
    font-weight: 700;
}

.prev-next a {
    font-size: 14px;
}






.navbar {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    margin: 10px;
    border-radius: 10px;
    padding: .5rem .6rem;
}

.copyright{
    font-size:12px;margin-top:20px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.025);
}

.border-right {
    border-right: 1px solid #f5f5f5 !important;
}

#sidebar-wrapper{
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.05);
}

.spacer {
    display: block;
    width: 100%;
    height: 10px;
}

.space-20{
    width:100%;height:20px;
}

.space-60 {
    width:100%;height: 60px;
}


/* STYLING NEON */
.btn-primary {
    color: #fff;
    background-color: #1E1CAE;
    border-color: #1E1CAE;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hide {
    display: none !important;
}

.invisible{visibility: hidden;}

ul.site-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-menu-item img{
    width:32px;height:auto;
}

.site-menu-item a{
    color:#999999;text-decoration:none;
}

.site-menu-item a:hover{
    color:#399cbd !important;
}

.site-menu-item.active>a {
    color: #111111;
}

li.site-menu-item {position: relative;}
li.site-menu-item.active:before {
    background: #add8e6;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -80px;
    right: 0;
    border-radius: 0px 35px 35px 0px;
    opacity: .1;
}

.dashboard .card {
    height: -webkit-calc(100% - 30px);
    height: calc(100% - 30px);
}

.card {
    position: relative;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #eeeeee;
    margin: 3px;
}

.card-spv {
    background: #f7f7f7;
    margin-top:20px;
}

.btn-outline.btn-receipt:before {
    content: "";
    position: absolute;
    left: 15px;
    top: 12px;
    height: 35px;
    width: 35px;
    opacity: 0.8;
    filter: brightness(100%);
    background: url(branding/icon/icon-etc-print.png) no-repeat center center;
    background-size: cover;
}

.page-report p{margin-bottom:0px;}

.page-report .table td, .page-report .table th {
    padding: .35rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 12px;
}

.page-report h4 {
    font-size: .8rem;
    text-transform: uppercase;
}

p.desc{opacity:.3;}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(173,216,230,.1);
}

.page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: #211EAC;
    border-color: #211EAC;
}

.pagination-no-border .page-link {
    border: none;
}

.page-link {
    position: relative;
    display: block;
    padding: .643rem 1.072rem;
    margin-left: -1px;
    line-height: 1.571429;
    color: #76838f;
    background-color: transparent;
    border: 1px solid #e4eaec;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.button-cari{
    width:100px;background:#FFFFFF !important;
    background-size:cover;
}

.button-cari img{width:auto;height:20px;}



.abs-top{position:absolute;top:7px;z-index:2;}
.abs-top a{display:block;position: relative;}
.abs-top img{height:35px;width:auto;}
.right-1{
    width:35px;height:35px;
    right:10px;
}

.right-2{
    width:35px;height:35px;
    right:55px;
}

.right-3{
    width:35px;height:35px;
    right:105px;
}

.right-4{
    width:35px;height:35px;
    right:145px;
}

.ic-hold{
    width:45px;height:45px;top:5px;
}

.ic-hold img{height:45px;}

.badge.up {
    position: relative;
    top: -50px;
    margin: 0 -.8em;
    border-radius: 15px;
    font-size: 12px;
    right: -10px;
}

.desat{filter: saturate(10%) contrast(10%);}



.fab img{height:35px;width:auto;}

.left-1{
    width:35px;height:35px;
    left:10px;
}

.btn-outline.btn-deactivate {
    color: #fff;
    background-color: #FFFFFF;
    border-color: #eaeaea;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #C3C3C3;
}

.trans50{opacity:.5;}
.trans30{opacity:.3;}
.trans20{opacity:.2;}
.trans10{opacity:.1;}


.btn-processmobile {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0px;
    z-index:3;
}

.btn-outline.btn-process:before {
    content: "";
    position: absolute;
    left: 8px;
    top: 15px;
    height: 35px;
    width: 35px;
    opacity: 0.8;
    filter: brightness(100%);
    background: url(branding/icon/icon-checked.png) no-repeat center center;
    background-size: cover;
}

.btn-lg {
    padding: 1.215rem 1.286rem;
    font-size: 1.086rem;
    line-height: 1.333333;
    border-radius: .286rem;
}

.btn-outline.btn-customer {
    color: #fff;
    background-color: #D2D2EF;
    border-color: #D2D2EF;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #3433B6;
}

.btn-outline.btn-customer:before {
    content: "";
    position: absolute;
    left: 25px;
    top: 10px;
    height: 35px;
    width: 35px;
    opacity: 0.8;
    filter: brightness(100%);
    background: url(branding/icon/icon-customer2.png) no-repeat center center;
    background-size: cover;
}

.btn-outline.btn-payment {
    color: #fff;
    background-color: lightblue;
    border-color: lightblue;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: darkblue;
    position: relative;
}

.btn-outline.btn-payment:before {
    content: "";
    position: absolute;
    left: 8px;
    top: 15px;
    height: 35px;
    width: 35px;
    opacity: 0.8;
    filter: brightness(100%);
    background: url(branding/icon/icon-payment-dual.png) no-repeat center center;
    background-size: cover;
}



.sticky{
    position:fixed;left:0;right:0;bottom:0;background:#FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.35);
    z-index:9999;
}

.sticky .btn-lg{border-radius:0px !important;}

ol.park-retrieve .checkbox-custom {
    padding-left: 0px;
    margin-top: 15px;
    margin-bottom: 5px;
}

ol.park-retrieve li {
    border-bottom: 1px solid #eaeaea;
}

ol.park-retrieve li:last-child {
    border-bottom: none;
}

.per-2{
    width:50%;float:left;
}

.data-summary-blank {
    background: url(branding/bg/blank-product.png) no-repeat center center;
    min-height:300px;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    bottom: 0;
}

.panel-data {
    border: 1px dashed #eaeaea;
    padding: 10px;
    background: #FFFFD4;
    margin-bottom: 10px;
}

.cust-name {
    font-size: 18px;
    font-weight: 300;
    color: #111111;
}

.panel-data p {
    font-size: 12px;
    margin-bottom: 0px;
}

.modal-header .close {
    top: 10px;
    right: 20px;
}

.modal-header .close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 35px;
    height: 35px;
    background: url(branding/icon/icon-etc-delete.png) no-repeat;
    background-size: 35px 35px;
    opacity: 0.99;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 0px;
    pointer-events: none;
}

.modal-body h4{font-size:19px}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px !important; 
    outline: 0;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 18px;
    text-transform:uppercase;
    color:darkblue;
}

.scroll-content {
    height: 300px;
    overflow-y: scroll;
    border-radius: 3px;
    box-shadow: inset 0 0 8px 2px rgba(0,0,0,.1);
}

li:nth-child(2).site-menu-item
{display:none;
}

.blok-atas{
    height:45px;width:80px;left:60px;z-index:9;
}

.useremail{font-size:14px;color:darkblue}
.useremail span {
    font-size: 12px;
    color: #222222;
    display: block;
    line-height: 13px;
}

.useremail span > em {
    opacity: 0.65;
}

#ModalBarcode .modal-body:before,
#ModalHold .modal-body:before,
#ModalRefresh .modal-body:before
{
    content:"";
    position:absolute;
    width:250px;height:250px;
    top:30px;right:-50px;
    background:url(branding/icon/icon-etc-barcode.png) no-repeat center center;
    background-size:cover;
    filter: grayscale(100%);
    opacity:.1;
    transform: rotateY(0deg) rotate(-45deg); /* needs Y at 0 deg to behave properly*/
    transition: transform 2s;
}


#ModalBarcode .modal-body:before{
    content:"";
    background:url(branding/icon/icon-etc-barcode.png) no-repeat center center;
    background-size:cover;
}



#ModalHold .modal-body:before{
    content:"";
    background:url(branding/icon/icon-etc-onhold.png) no-repeat center center;
    background-size:cover;
}

#ModalRefresh .modal-body:before{
    content:"";
    background:url(branding/icon/icon-refresh.png) no-repeat center center;
    background-size:cover;
    opacity:.1;
}


.modal-body{overflow:hidden}

ul.product-grid li {
    list-style-type: none;
}

.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

ul.product-grid {
    margin: 0px;
    padding: 0px;
}

.product-name {
    overflow: hidden;
    height: 45px;
    font-size: 12px;
    margin-top: -15px;
    margin-bottom: 4px;
}



.product-line .stock, .product-line {
    margin-bottom: 5px;
    font-size: 11px;
    line-height: 6px;
}

.price {
    font-weight: 700;
    font-size: 12px;
    color: #F9A748;
    margin-top: 5px;
    margin-bottom: 10px;
}

.stock-number{font-size:10px;}

.products-query .form-check-input {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    top: 0;
    right: 0;
}

.product-code {
    color: #999999;
    font-size: 12px !important;
}

.image-product {
    margin: -30px;
    margin-bottom: 25px;
    height: 125px;
    overflow: hidden;
    position: relative;
}

.image-product img{
    width:100%;height:auto;
}

a.blocky{display:block;}

.row-batch {
    height: 350px;
    overflow-y: scroll;
}

a.batch-select {
    position: relative;
    border-radius: 3px;
    background: #eeeeee url(branding/box.png) center center no-repeat;
    min-height: 100px;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
}

a:hover.batch-select {
    background: #211EAC url(branding/box_w.png) center center no-repeat;
}

a.batch-select span {
    color: #111111;
    text-align: center;
    position: absolute;
    height: 10px;
    left: 0;
    right: 0;
    bottom: 10px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

a:hover.batch-select span {
    color: #ffffff;
}

.card-summary {
    position: relative;
}

.card-summary h4, .card-summary h6, .card-summary p {
    margin: 0px;
    text-align: left;
    color: #444444;
}

.card-summary p {
    font-size: 12px;
    color: #999999;
}



.btn-selected {
    border: none;
    background: #FFFFFF;
    /* border: none; */
}

ul.card-summary-detail {
    padding: 10px 20px 10px;
    border: 1px solid #eaeaea;
    border-right: none;
    border-left: none;
    margin-bottom: 5px;
   
}

.card-summary-detail .additional {
    background: none;
    width: 10px;
}


.additional {
    position: relative;
    float: left;
    background: #111111;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.card-summary-detail .additional .remove {
    top: 0px;
}

.remove {
    position: absolute;
    width: 25px;
    height: 25px;
    background: url(branding/icon/icon-etc-delete.png)no-repeat center center;
    background-size: 25px 25px;
    left: -10px;
    top: -10px;
}

.card-summary h4, .card-summary h6, .card-summary p {
    margin: 0px;
    text-align: left;
}

.card-summary p {
    font-size: 12px;
    color: #999999;
}

p.change {
    position: absolute;
    color: red;
    right: 20px;
    top: 15px;
    font-size: 14px;
}

.card-summary p.price {
    color: #111111;
    font-weight: 500;
}

p.subtotal {
    position: relative;
    color: #666666;
    font-size: 12px;
    text-align: right;
}

p.subtotal span {
    font-size: 16px;
}

.plusminus {
}

input.qtyminus {
    width: 35px;
    height: 35px;
}

.qty {
    width: 40px;
    height: 35px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #eaeaea;
}

input.qtyplus {
    width: 35px;
    height: 35px;
}

input.qtyplus, input.qtyminus {
    border: 1px solid #eaeaea;
    background: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    border-radius: 50px;
}

ul.summary-total {
    padding: 0px;
    float: right;
    width: 200px;
    padding-right: 20px;
}

ul.summary-total li {
    list-style-type: none;
    font-size: 10px;
    border-bottom: 1px solid #f5f5f5;
    display: block;
}

ul.summary-total li p {
    margin: 1px;
    position: relative;
}

ul.summary-total li .price {
    font-size: 16px;
    color: #666666;
    font-weight: 300;
    position: absolute;
    right: 0px;
    top: -12px;
}

ul.summary-total li .price.total {
    font-size: 30px;
    color: #111111;
    font-weight: 700;
    float: right;
    margin-bottom: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

ul.summary-total li:last-child {
    border-bottom: none;
}

.card-summary-payment .additional.cash {
    background: url(branding/icon/icon-payment-cash.png)no-repeat center center;
    background-size: 40px 40px;
    margin-top: -2px;
}

.card-summary-payment {
    margin-top: -8px;
}

.card-summary-payment p {
    margin-top: -3px;
    font-size: 10px;
}
.card-summary-payment h4{font-size:22px;}

.total-price{padding:10px 15px;
    border-radius:5px;
    border:1px solid #eaeaea;
    background:rgba(173,216,230,.2);

}

.total-price p {
    font-size: 10px;
    text-align: right;
    margin: 0px;
    line-height: 16px;
    color:rgba(0,0,0,.4);
}
.total-price span {
    font-weight: 700;
    font-size: 30px;
    color: #F9A748;
    margin-top: 0px;
    position:relative;
}

.total-price span:before{
    content:"Rp";
    font-size: 10px;
    opacity:.6;
}



ul.btn-payment-group{}
ul.btn-payment-group li{margin-bottom:15px;}

.btn-pym{
    text-align: center;border:2px solid #eaeaea;padding-top:100px;padding-bottom:30px;
    color:#232323;font-weight:700;
    background-position:  center 25px;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    }

.btn-pym sub {
    display: block;
    width: 100%;
    color: #999999;
    font-weight: 300;
    font-size: 13px;
}

.btn-pym:hover {background-color:#0F0E57;border-color:#0F0E57;color:#FFFFFF;}
.btn-pym.active{
    background-color:#0F0E57 !important;border-color:#0F0E57 ;
}

.btn-pym.active sub{color:#ffffff;}

.btn-pym.active:after{
    content:"";
    position:absolute;
    height:35px;width:35px;
    top:10px;right:10px;
    background-image:url(branding/icon/icon-etc-checked.png); 
    background-position:  center center;
    background-repeat: no-repeat;
    background-size: 35px 35px;
}

.btn-pym-cash {
    background-image:url(branding/icon/icon-payment-cash.png); 
}

.btn-pym-card {
    background-image:url(branding/icon/icon-payment-card.png); 
}

.btn-pym-dual {
    background-image:url(branding/icon/icon-payment-dual.png); 
}

.btn-pym-other {
    background-image:url(branding/icon/icon-payment-other.png); 
}

.card-status {
    padding: 0px;
    display: none;
    margin-top: 10px;
}
.debet-card {
    
}
.credit-card {
    
}

.form-control-dark {
    background: lightblue !important;
    color: #FFFFFF !important;
}

.form-number {
    text-align: right;
}

p.desc {
    margin: 0px;
}

.tab-content h4{font-size:14px;}
.tab-content h3{font-size:16px;}

.bon {
    min-height: 400px;
    overflow-x: hidden;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 13px;
}
.bon-row{height:20px;}

.title-calculate {
    font-size: 20px;
    line-height: 22px;
    color: darkblue;
}
.panel-price{margin-bottom:10px;}

sup img{width:128px;height:auto;}
.page {
    padding-bottom: 20px;
}

.page-summary {
    padding-bottom: 0px;
    height: 350px;
    overflow-y: scroll;
    padding-bottom: 90px;
}

.data-summary{
    
}

#pills-tabContent{
    height:250px;
    overflow-y: scroll;
    position: relative;padding:15px 15px 20px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    border-radius:3px;
    background: lightgoldenrodyellow;
}

.disabled,
.isDisabled
{
        pointer-events: none;opacity: .65;
}

.statpayment{
    font-size:9px;text-align:center;display:block;
}



